<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <div class="column is-one-fourth title has-text-danger">Basic-Auth-Flask</div>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/">
            <strong class="has-text-dark">Home</strong>
          </a>
          <a class="button is-outlined is-warning" href="/survey">
            <strong>Login</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>