<nav class="navbar is-danger" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <div class="column is-one-fourth title has-text-white">Basic-Auth-Flask</div>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-white" href="{{ url_for('homepage') }}">
            <strong class="has-text-dark">Home</strong>
          {% if current_user.is_authenticated %}
          <a class="button is-success" href="{{ url_for('member') }}">
            <strong>Members Page</strong>
          </a>
            <a class="button is-dark" href="{{ url_for('logoutpage') }}">
              <strong>Logout</strong>
            </a>
          {% else %}
            </a>
            <a class="button is-warning" href="{{ url_for('loginpage') }}">
              <strong>Login</strong>
            </a>
            <a class="button is-warning" href="{{ url_for('signuppage') }}">
              <strong>Sign Up</strong>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>